* {
    background-color: aliceblue;
}
.flexbox {
    display: flex;
    flex-wrap: wrap;
}
.current-trees img.resize{
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}