* {
    background-color: rgb(178, 192, 206);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.current-trees-image img{
    height: auto; 
    max-width: 300px; 
    padding: 20px;
}